body{
background-color: rgb(223, 198, 144);
}
div{
    font-family: Helvetica;	
    background-color: tan;	
    color: white;	
    font-size: 32px; 	
    padding: 5px;
}
nav{
background-color: tan;
padding: 1px;
display: flex;
justify-content:space-around;
}
.items:hover{
background-color: gray;
opacity:0.5;
}